{% extends "layout.html" %}

{% block content %}
<div class="container-fluid col-12 main-wrapper" style="background-color: #edf2f5;margin-top: 57px; padding:0;">
    <div class="col-12 pad-t-b-20" style="padding:20px 0">
        <h2 style="color: #2981b5;text-align: center;font-size: 32px;margin:15px;">Trending</h2>
        <div class="row" style="margin: 0">
            <div class="col-4 row" style="margin: 0">
                <div class="card-style" style="border:1px solid #ccc;border-radius: 15px;padding: 30px 6px;margin: 10px 30px;box-shadow: 0 9px 20px -8px #333333;background-color: white;">
                    <div class="col-12">
                        <div class="img-style" style="border: 1px solid #b3ecec;border-radius: 50px;height: 95px;width: 95px;background-color: #b3ecec;margin: 0 auto;">
                            <i class="fas fa-camera-retro" style="text-align: center;font-size: 45px;position: relative;top: 25px;left: 25px;"></i>
                        </div>
                    </div>
                    <div class="col-12" style="margin: 15px 0;text-align: center;">
                        <h5 style="color: #333333">Lorem Ipsum</h5>
                        <p style="font-size: 14px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris erat diam, cursus et lectus interdum, auctor dapibus lorem. Proin dapibus,in condimentum tortor. in sagittis lacus tellus nec est. Proin in condimentum tortor. Vestibulum id erat quis purus scelerisque pellentesque.
                            <a href="https://www.lipsum.com/feed/html"> read more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 row" style="margin: 0">
                <div class="card-style" style="border:1px solid #ccc;border-radius: 15px;padding: 30px 6px;margin: 10px 30px;box-shadow: 0 9px 20px -8px #333333;background-color: white;">
                    <div class="col-12">
                        <div class="img-style" style="border: 1px solid #b3ecec;border-radius: 50px;height: 95px;width: 95px;background-color: #b3ecec;margin: 0 auto;">
                            <i class="fas fa-camera-retro" style="text-align: center;font-size: 45px;position: relative;top: 25px;left: 25px;"></i>
                        </div>
                    </div>
                    <div class="col-12" style="margin: 15px 0;text-align: center;">
                        <h5 style="color: #333333">Lorem Ipsum</h5>
                        <p style="font-size: 14px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris erat diam, cursus et lectus interdum, auctor dapibus lorem. Proin dapibus,in condimentum tortor. in sagittis lacus tellus nec est. Proin in condimentum tortor. Vestibulum id erat quis purus scelerisque pellentesque.
                            <a href="https://www.lipsum.com/feed/html"> read more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 row" style="margin: 0">
                <div class="card-style" style="border:1px solid #ccc;border-radius: 15px;padding: 30px 6px;margin: 10px 30px;box-shadow: 0 9px 20px -8px #333333;background-color: white;">
                    <div class="col-12">
                        <div class="img-style" style="border: 1px solid #b3ecec;border-radius: 50px;height: 95px;width: 95px;background-color: #b3ecec;margin: 0 auto;">
                            <i class="fas fa-camera-retro" style="text-align: center;font-size: 45px;position: relative;top: 25px;left: 25px;"></i>
                        </div>
                    </div>
                    <div class="col-12" style="margin: 15px 0;text-align: center;">
                        <h5 style="color: #333333">Lorem Ipsum</h5>
                        <p style="font-size: 14px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris erat diam, cursus et lectus interdum, auctor dapibus lorem. Proin dapibus,in condimentum tortor. in sagittis lacus tellus nec est. Proin in condimentum tortor. Vestibulum id erat quis purus scelerisque pellentesque.
                            <a href="https://www.lipsum.com/feed/html"> read more...</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"style="margin: 0">
        <div class="col-12 margin-top45" style="margin-top: 45px;">
            <h2 style="color: #2981b5;text-align: center;font-size: 32px;margin:15px;">Shared Opinions</h2>
            <table class="table col-12 margin-top30" style="margin-top:30px">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Type</th>
                    <th scope="col">Posts</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a href="#.">Politics</a></td>
                    <td>Articles</td>
                    <td>32</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><a href="#.">Philosophy</a></td>
                    <td>Articles</td>
                    <td>26</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a href="#.">Love</a></td>
                    <td>Poem</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><a href="#.">Social</a></td>
                    <td>Articles</td>
                    <td>23</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td><a href="#.">Culture</a></td>
                    <td>Articles</td>
                    <td>23</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td><a href="#.">Science</a></td>
                    <td>Articles</td>
                    <td>23</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
